@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
html, body {
	margin:0;
	padding:0;
	height: 100%;
	overflow: hidden;
	font-family: 'Shadows Into Light', cursive;
}

canvas {
	position:relative;
	z-index:0;
	cursor:none;
}
.title {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 1.4em;
	z-index: 22;
	text-align: center;
	font-size: 7.3em;
	pointer-events: none;
	color: #fff;
	opacity: 0.2;
}
	.title span {
		font-family: 'arial';
		font-size: 0.13em;
		display: block;
	}
